body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #1f2427;
  color: #fff;
}

.centerText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  font-size: 70px;
  transform: translate(-50%, -50%);

}

.greenText {
  color: greenyellow !important;
}

#id1 {
  width: 100px;
  height: 100px;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  float: left;
}

#id2 {
  width: 100px;
  height: 100px;
  border-bottom: solid 5px blue;
  float: left;
}

#id3 {
  width: 100px;
  height: 100px;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
  float: left;
}

#id4 {
  width: 100px;
  height: 100px;
  border-bottom: solid 5px blue;
  border-right: solid 5px blue;
  float: left;
}

#id5 {
  width: 100px;
  height: 100px;
  border-bottom: solid 5px blue;
  border-right: solid 5px blue;
  float: left;
}

#id6 {
  width: 100px;
  height: 100px;
  border-bottom: solid 5px blue;
  float: left;
}

#id7 {
  width: 100px;
  height: 100px;
  border-right: solid 5px blue;
  float: left;
}

#id8 {
  width: 100px;
  height: 100px;
  border-right: solid 5px blue;
  float: left;
}

#id9 {
  width: 100px;
  height: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
